<div class="contentleft">
  <h2>Wargames</h2>
  <div class="box">
    <div>
      <ul>
        <li>IO &middot; <%= link_to "ONLINE", wargames_io_path, class: "green" %></li>
        <li>TUX &middot; <%= link_to "ONLINE", wargames_tux_path, class: "green" %> </li>
        <li>APFEL &middot; <%= link_to "ONLINE", wargames_apfel_path, class: "green" %></li>
        <li>LOGIC &middot <%= link_to "ONLINE", wargames_logic_path, class: "green" %></li>
        <li>BLOWFISH &middot; <%= link_to "ONLINE", wargames_blowfish_path, class: "green" %></li>
        <li>BLACKBOX &middot; <%= link_to "ONLINE", wargames_blackbox_path, class: "green" %></li>
        <li>AMATERIA &middot; <%= link_to "ONLINE", wargames_amateria_path, class: "green" %></li>
        <li>CTF &middot; <%= link_to "OFFLINE", "http://smpctf.com", style: "color:#FF0000" %></li>
      </ul>
    </div>
  </div>
  <h2>Affiliates</h2> 
  <div class="box4">
    <div>
      <%= image_tag(@affiliates.first) %>
    </div>
    <div>
      <%= image_tag(@affiliates.second) %>
    </div>
  </div>
</div>
