<div class="contentleft">
  <h2>Wargames</h2>
  <div class="box">
    <div>      
      <% @wargames.each do |name, status| %>
        <div><span style="width:60px;float:left;padding-right:10px;text-align:right;font-weight:bold" class="<%= status %>"><%= status.upcase %></span><span><%= link_to name.upcase, url_for("wargames/#{name}") %></span></div>
        <% end %>
      </ul>
    </div>
  </div>
  <h2>Affiliates</h2> 
  <div class="box4">
    <div>
      <%= image_tag(@affiliates.first) %>
    </div>
    <div>
      <%= image_tag(@affiliates.second) %>
    </div>
  </div>
</div>
