<div id="content">
  <%= render partial: "wargames" %>
  <%= render partial: "announcements" %>
</div>
<div id="subcontent">
  <div class="small box2">
    <h2>RSS Feed <%= link_to image_tag("rss_icon.gif") %></h2>
    More than just your average wargaming network. Subscribe to RSS feeds <%= link_to "here", nil %>.
  </div>
  <div class="small box2">
    <h2>FAQ Articles</h2>
    <ul>
      <li><%= link_to "How do I get started?", "/faq#a3" %></li>
      <li><%= link_to "How do i get putty?", "/faq#a14" %></li>
      <li><%= link_to "What IRC client should I use?", "/faq#a15" %></li>
    </ul>
  </div>
</div>
