<div style="padding-top:10px" class="modal-header">
  <h3><%= image_tag('login_header.gif') %></h3>
</div>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="modal-body">
    <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>
    <div><%= f.label :password %><br />
      <%= f.password_field :password %></div>
    <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end %>
  <%= f.submit "Sign in", {style: "float:right;margin: 15px 70px 15px 0px"} %>
  </div>
<% end %>
</div>
