<div class="items-holder"> 
    <div class="items">
      <div id="item-header">
        BOX
      </div>
      <div id="item-header">
        STATUS
      </div>
      <div id="item-header">
        ADMIN(S)
      </div>
    </div>
    <div class="items">
      <div class="item-left" id="item">
        <%= link_to "IO", wargames_io_path %>
      </div>
      <div class="online" id="item">
        ONLINE
      </div>
      <div class="item-right" id="item">
        beach
      </div>
    </div>
    <div class="items">
      <div class="item-left" id="item">
        <%= link_to "BLOWFISH", wargames_blowfish_path %>
      </div>
      <div class="online" id="item">
        ONLINE
      </div>
      <div class="item-right" id="item">
        l3thal
      </div>
    </div>
    <div class="items">
      <div class="item-left" id="item">
        <%= link_to "LOGIC", wargames_logic_path %>
      </div>
      <div class="online" id="item">
        ONLINE
      </div>
      <div class="item-right" id="item">
        mh, level
      </div>
    </div>
    <div class="items">
      <div class="item-left" id="item">
         <%= link_to "APFEL", wargames_apfel_path %>
      </div>
      <div class="online" id="item">
        ONLINE
      </div>
      <div class="item-right" id="item">
        s0ttle
      </div>
    </div>
    <div class="items">
      <div class="item-left" id="item">
         <%= link_to "TUX", wargames_tux_path %>
      </div>
      <div class="online" id="item">
        ONLINE
      </div>
      <div class="item-right" id="item">
        bla
      </div>
    </div>
    <div class="items">
      <div class="item-left" id="item">
         <%= link_to "BLACKBOX", wargames_blackbox_path %>
      </div>
      <div class="online" id="item">
        ONLINE
      </div>
      <div class="item-right" id="item">
        calcite
      </div>
    </div>
    <div class="items">
      <div class="item-left" id="item">
        CTF
      </div>
      <div class="offline" id="item">
        OFFLINE
      </div>
      <div class="item-right" id="item">
        redsand, magikh0e
      </div>
    </div>
    <div class="items">
      <div class="item-left" id="item">
         <%= link_to "AMATERIA", wargames_amateria_path %>
      </div>
      <div class="online" id="item">
        ONLINE
      </div>
      <div class="item-right" id="item">
        kaliman
      </div>
    </div>
</div>

