<div id="header">
  <%= link_to image_tag('logo.gif', id: 'logo'), root_path %>
</div>

<div id="navigation">
  <ul>
    <li><%= link_to "main", root_path %></li>
    <% if signed_in? %> 
    <li><%= link_to "wargames", wargames_path %></li>
    <li><%= link_to "WebSSH", "https://xterm.smashthestack.org" %></li>
    <li><%= link_to "IRC", "/irc" %></li>
    <% end %>
    <li><%= link_to "FAQ", "/faq" %></li>
    <li>
      <% if signed_in? %>
      <%= link_to "logout", destroy_user_session_path %>
      <% else %>
      <a data-toggle="modal" href="#session_new">login</a>
      <% end %>
    </li>
    <li>
      <a data-toggle="modal" href="#registration_new">register</a>
    </li>
  </ul>
  <span style="float:right; padding-right:10px;" class="green"><%= signed_in? ? "Welcome, #{current_user.username}!" : "Sign up to get started!" %></span>
</div>
