<div id="header">
  <%= link_to image_tag('logo.gif', id: 'logo'), root_path %>
</div>

<div id="navigation">
  <ul>
    <li><%= link_to "Main", root_path %></li>
    <li><%= link_to "Wargames", wargames_path %></li>
    <li><%= link_to "IRC > #{session[:channel]}", irc_path %></li>
    <li><%= link_to "FAQ", faq_path %></li>
  </ul>
  <span style="float:right; padding-right:10px;" class="green"><%= signed_in? ? "Welcome, #{current_user.username}!" : "Welcome to SmashTheStack!" %></span>
</div>
