<!DOCTYPE html>
<html>
<head>
  <title>SmashTheStack Wargaming Network</title>
  <%= stylesheet_link_tag    "application", media: "screen, projection" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <%= render partial: "header" %>
    <%= yield %>
    <%= render partial: "footer" %>
  </div>
  <div id="session_new" class="modal fade in" style="display:none">
    <%= render template: "devise/sessions/new" %>
  </div> 
  <div id="registration_new" class="modal fade in" style="display:none">
    <%= render template: "devise/registrations/new" %>
  </div>  
</body>
</html>
